brand primary variable and brand secondary variable */
:root {
  --brand-primary: #303032;
  --brand-secondary: #9d9a6f;
}
/* General styles */
.bg-neema-primary {
  background-color: #303032;
}
.bg-neema-secondary {
  background-color: #9d9a6f;
}